In [29]:
#importing necessary libraries
import re 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk

In [30]:
#load dataset
covid19_dataset=pd.read_csv("Train.csv")
covid19_dataset

              ID                                               text  target
0        train_0            The bitcoin halving is cancelled due to       1
1        train_1  MercyOfAllah In good times wrapped in its gran...       0
2        train_2  266 Days No Digital India No Murder of e learn...       1
3        train_3  India is likely to run out of the remaining RN...       1
4        train_4  In these tough times the best way to grow is t...       0
...          ...                                                ...     ...
5282  train_6856  The spread of the novel among asylum seekers o...       1
5283  train_6857  Hundreds of Jewish  patients are being treated...       1
5284  train_6858  Beats me Honestly most of the people I follow ...       0
5285  train_6859  Help us reach more people by donating and shar...       0
5286  train_6860  Interest Rate Swap Derivative Pricing in Pytho...       0

[5287 rows x 3 columns]

In [31]:
#Cleaning text 
import re
def clean_text(text):
    # Remove HTML tags if present
    text = re.sub(r'<.*?>', '', text)
    
    # Remove special characters and punctuation
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    
    # Convert text to lowercase
    text = text.lower()
    
    return text

covid19_dataset['text']=covid19_dataset['text'].apply(clean_text)

In [32]:
from nltk.tokenize import word_tokenize
# Function to tokenize text
def tokenize_text(text):
    return word_tokenize(text)
covid19_dataset['text']=covid19_dataset['text'].apply(tokenize_text)

In [33]:
covid19_dataset['text']

0         [the, bitcoin, halving, is, cancelled, due, to]
1       [mercyofallah, in, good, times, wrapped, in, i...
2       [266, days, no, digital, india, no, murder, of...
3       [india, is, likely, to, run, out, of, the, rem...
4       [in, these, tough, times, the, best, way, to, ...
                              ...
5282    [the, spread, of, the, novel, among, asylum, s...
5283    [hundreds, of, jewish, patients, are, being, t...
5284    [beats, me, honestly, most, of, the, people, i...
5285    [help, us, reach, more, people, by, donating, ...
5286    [interest, rate, swap, derivative, pricing, in...
Name: text, Length: 5287, dtype: object

In [34]:
# Convert lists of words into strings
covid19_dataset['text']=covid19_dataset['text'].apply(lambda x: ' '.join(x))

In [35]:
X=covid19_dataset['text']
y=covid19_dataset['target']

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

In [37]:
# Split data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 3: TF-IDF Vectorization
# Initialize TF-IDF vectorizer
tfidf_vectorizer = TfidfVectorizer()

# Fit and transform the training data
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)

# Transform the test data
X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Step 4: Training the Naive Bayes Classifier
# Initialize and train a Multinomial Naive Bayes classifier
clf = MultinomialNB()
clf.fit(X_train_tfidf, y_train)

# Step 5: Evaluation
# Predict labels for the test set
y_pred = clf.predict(X_test_tfidf)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Generate classification report
print("Classification Report:")
print(classification_report(y_test, y_pred))

Accuracy: 0.8601134215500945
Classification Report:
              precision    recall  f1-score   support

           0       0.82      0.93      0.87       542
           1       0.91      0.79      0.85       516

    accuracy                           0.86      1058
   macro avg       0.87      0.86      0.86      1058
weighted avg       0.87      0.86      0.86      1058

In [38]:
#Evaluate on the test_set
Test_database=pd.read_csv('Test.csv')
Test_database

             ID                                               text
0        test_2         Why is  explained in the video take a look
1        test_3            Ed Davey fasting for Ramadan No contest
2        test_4   Is Doja Cat good or do you just miss Nicki Minaj
3        test_8  How Boris Johnson s cheery wounded in action p...
4        test_9  Man it s terrible Not even a reason to get on ...
...         ...                                                ...
1957  test_2932  Fageeru meehaa geyga Bandah PUBLIC fundS amp G...
1958  test_2934  DFFN Diffusion Pharmaceuticals Announces Pre I...
1959  test_2936  I want to wish the Muslim members of Congress ...
1960  test_2937  You mean you don t believe there is a conspira...
1961  test_2940  Rajavi We call on the United Nations and the S...

[1962 rows x 2 columns]

In [39]:
Test_database['text']=Test_database['text'].apply(clean_text)
Test_database['text']=Test_database['text'].apply(tokenize_text)
Test_database['text']=Test_database['text'].apply(lambda x: ' '.join(x))

In [40]:
# Transform the test data
test_tfidf = tfidf_vectorizer.transform(Test_database['text'])
predictions = clf.predict(test_tfidf)

In [42]:
Test_database['target']=predictions

In [44]:
del Test_database['text']

In [45]:
Test_database

             ID  target
0        test_2       1
1        test_3       0
2        test_4       0
3        test_8       1
4        test_9       0
...         ...     ...
1957  test_2932       1
1958  test_2934       1
1959  test_2936       0
1960  test_2937       1
1961  test_2940       1

[1962 rows x 2 columns]

In [46]:
Test_database.to_csv('Submission_nb.csv')